<div class="container">

  <div class="row">
    <div class="col">

      <!-- Displays name from app.component.ts -->
      <h1 class="text-center mt-5 mb-4">{{ name }}'s To Do List</h1>

      <!-- Button to submit a new task -->
      <div class="input-group mb-4">
        <input [(ngModel)]="toDoInput" type="text" class="form-control" (keyup.enter)="createToDo()" placeholder="What do you need to do today?"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button (click)="createToDo()" class="btn btn-info" type="button">+</button>
        </div>
      </div>


      <div class="row text-right p-3">
        <!-- Button to complete all tasks -->
        <div class="col">
          <button class="btn-success mr-3" (click)="completeAllToDo()">Complete All</button>

          <!-- Button to delete all tasks -->
          <button class="btn-danger" (click)="deleteAllToDo()">Delete All</button>

        </div>
      </div>

      <table class="table table-dark">

        <!-- Repeats the array of items in tasks -->
        <tbody>
          <tr *ngFor="let errand of tasks">
            <td [ngClass]="{'completeTask': errand.isCompleted }">
              <!-- Shows a circle when it is not complete -->
              <i *ngIf="errand.isCompleted == false" (click)="completeToDo(errand)" class="far fa-circle mr-3"></i>
              <!-- Shows a check in circle when it is complete -->
              <i *ngIf="errand.isCompleted == true" (click)="completeToDo(errand)" class="far fa-check-circle mr-3"></i>
              {{ errand.chore }}
            </td>
            <td class="text-right" [ngClass]="{'completeTask': errand.isCompleted }">
              <i class="fas fa-pencil-alt mr-3" (click)="editToDo(errand)"></i>
              <i class="fas fa-backspace mr-3" (click)="deleteToDo(errand)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
